body {
  background-color: black;
}
h2 {
  color: white;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}
form {
  background-color: white;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
}
